.form{
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    

    &__link{
        text-decoration: underline;
        color: $color-main-light;
        cursor: pointer;
        &:hover{
            color: $color-main;
        }
    }

    &__dropzone{
        grid-column: span 4;
        border: 1px solid rgba(0, 0, 0, 0.23);
        border-radius: 5px;
        padding: 0.2rem 1rem;
        color: rgba(0, 0, 0, 0.6);

        &--edit{
            display: flex;
            justify-content: space-between;
        }
    }

    
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
